@font-face {
    font-family: "GT Sectra";
    src: url(../fonts/GT-Sectra-Book.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "GT Sectra";
    src: url(../fonts/GT-Sectra-Book-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "GT Sectra";
    src: url(../fonts/GT-Sectra-Bold.woff) format('woff');
    font-weight: 600;
}