* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #323f4a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #435363;
    font-family: GT Sectra, georgia, serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: none;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #f9d3ae;
}

a:active, a:hover {
    outline-width: 0;
}

p {
    margin: 0 0 1em;
}

img {
    max-width: 100%;
}

.main-content {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    border-bottom: 1px solid #d5d5d5;
}

.header .header-cont {
    width: 100%;
    background-color: #ffffff;
    padding: 8px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-bar {
    display: flex;
}

.logo {
    border: 0;
    margin: 0;
    background: url(../img/fmi-logo-horiz--slate.svg) no-repeat 0;
    display: block;
    text-align: left;
    overflow: hidden;
    width: 140px;
    color: transparent;
    height: 40px;
    background-size: contain;
}

button {
    border: 0;
}

.btn-menu {
    margin: 0 0 0 30px;
    padding: 0;
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 10px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    color: #ff4c00;
    background-color: #fff;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.btn-login {
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 10px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    color: #435363;
    background-color: #fff;
    border: 0;
    margin: 0;
    padding: 0;
}

.menu {
    margin-left: 30px;
}

.nav-bar {
    display: none;
}

.nav-bar button {
    line-height: 1.2;
    padding: 55px 17px;
    border: 0;
    color: #949391;
    display: block;
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    -webkit-transition: color .4s;
    transition: color .4s;
    -moz-osx-font-smoothing: grayscale;
}

.nav-bar button.active {
    color: #323f4a;
}

.section.content {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1285px;
    display: flex;
    flex-wrap: wrap;
}

.intro {
    background-color: #FFFFFF;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.intro .top {
    padding-top: 40px;
}

.intro h1 {
    font-family: GT Sectra, georgia, serif;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 400;
    text-transform: none;
    color: #ff4c00;
    margin: 0 0 30px;
}

.intro .image img {
    max-width: 532px;
}

.intro .text {
    font-family: GT Sectra, georgia, serif;
    font-size: 15px;
    line-height: 1.625;
    font-weight: 400;
    text-transform: none;
    padding: 0 0 30px;
    border-bottom: 1px solid #d5d5d5;
}

.intro .nav-jump {
    padding-top: 20px;
}

.intro .nav-jump h4 {
    font-family: GT Sectra, georgia, serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    color: #737271;
    margin: 0 0 10px;
}

.intro .nav-jump-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.intro .nav-jump-item {
    margin: 0 0 5px;
}

.intro .nav-jump-item a {
    border-color: #7a8a98;
}

.intro .nav-jump-item a {
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    color: #435363;
    border-bottom: 1px solid #64ccc9;
}

.section-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

section header h2 {
    margin: 20px 0 15px;
    text-align: center;
    font-family: GT Sectra, georgia, serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    color: #35a09c;
}

.section-1 .content {
    margin-bottom: 80px;
}

.section-1 .content .text {
    font-family: GT Sectra, georgia, serif;
    font-size: 16px;
    line-height: 1.667;
    font-weight: 400;
    text-transform: none;
    color: #7a8a98;
    margin-bottom: 30px;
}

.section-1 .content .list {

}

.section-1 .content .list h3 {
    font-family: GT Sectra, georgia, serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    color: #737271;
    padding: 0 0 5px;
    margin: 0 0 15px;
    border-bottom: 1px solid #d5d5d5;
}

.section-1 .content .list ol {
    list-style: none;
    margin: 0;
    padding: 4px 0 0;
    counter-reset: b;
}

.section-1 .content .list li {
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    counter-increment: b;
    margin: 0 0 15px;
    padding: 0 0 0 24px;
    position: relative;
    color: #737271;
    text-indent: -12px;
}

.section-1 .content .list li:before {
    width: 12px;
    display: inline-block;
    font-weight: 500;
    color: #ff4c00;
    content: counter(b);
}

.section-1 .content .list li strong {
    color: #435363;
    font-weight: 500;
}

.section-1 .portfolio {
    width: 100%;
}

.section-1 .portfolio h3 {
    font-family: GT Sectra, georgia, serif;
    font-size: 21px;
    line-height: 1.1;
    font-weight: 400;
    text-transform: none;
    color: #435363;
    text-align: center;
    margin: 0 0 30px;
}

.section-1 .portfolio h4 {
    text-align: center;
    color: #435363;
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 10.5px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: .6px;
    text-transform: uppercase;
    margin: 0 0 8px;
}

.section-1 .portfolio .table {
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    color: #435363;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.section-1 .portfolio .table .col-header {
    display: none;
}

.section-1 .portfolio .table .col-header .title img {
    display: block;
    height: 26px;
    width: 26px;
}

.section-1 .portfolio .table .col {
    margin: 0 0 55px;
    padding: 0;
    list-style: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    position: relative;
    width: 100%;
}

.section-1 .portfolio .table .col .title,
.section-1 .portfolio .table .col .row {
    min-width: 120px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-1 .portfolio .table .col .title {
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #fff;
    background: #435363;
    min-height: 60px;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.section-1 .portfolio .table .col .row {
    padding: 20px 10px;
}

.section-1 .portfolio .table .col .row:before {
    content: attr(data-label);
    display: block;
    width: 100%;
    color: #737271;
    font-weight: 700;
    font-size: 10.5px;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.section-1 .portfolio .table .col .row:nth-child(odd):not(:first-child), .section-1 .portfolio .table .col .title:nth-child(odd):not(:first-child) {
    background: #eef8fd;
}

.section-1 .portfolio .table .col .row span {
    max-width: 160px;
}

.section-1 .portfolio .table .col .row .check-no {
    background-image: url(../img/check-no.svg);
    text-align: left;
    overflow: hidden;
    width: 35px;
    color: transparent;
    height: 35px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.section-1 .portfolio .table .col .row .check-yes {
    background-image: url(../img/check-yes.svg);
    text-align: left;
    overflow: hidden;
    width: 35px;
    color: transparent;
    height: 35px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.section-1 .portfolio .table .col .details {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
}

.section-1 .portfolio .table .col .details a {
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .8px;
    text-transform: uppercase;
    display: inline-block;
    border: 0;
    padding: 8px 20px;
    background: #2d8885;
    color: #fff;
    -webkit-transition: background-color .3s, padding .3s;
    transition: background-color .3s, padding .3s;
}

section .faq {
    width: 100%;
    padding: 30px;
    margin-bottom: 60px;
    background: #3f5c6e url(../img/faqs-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

section .faq h2 {
    text-align: center;
    color: #fff;
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 25px;
    line-height: 1;
    font-weight: 300;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px 0 0;
    margin: 0 0 50px;
}

section .faq .sets {
    margin: 0 0 60px;
}

section .faq .sets .faq-set {
    margin: 0 0 30px;
}

section .faq .sets .faq-set h3 {
    color: #fff;
    font-family: GT Sectra, georgia, serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    padding: 0 0 4px;
    margin: 0 0 16px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .3);
}

section .faq .sets .faq-set .faq-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

section .faq .sets .faq-set .faq-list .faq-item {
    padding: 0;
    margin: 0 0 15px 30px;
    text-indent: -15px;
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    text-transform: none;
}

section .faq .sets .faq-set .faq-list .faq-item a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    border: 0;
    -webkit-transition: color .3s;
    transition: color .3s;
}

section .faq .sets .faq-set .faq-list .faq-item a:before {
    content: "Q";
    -webkit-transition: color .3s;
    transition: color .3s;
    color: #f7d18f;
    width: 15px;
    display: inline-block;
}

section .faq .text {
    padding: 0 30px 20px;
    text-align: center;
}

section .faq .text h2 {
    color: #fff;
    margin: 0 auto 15px;
    max-width: 450px;
    font-family: GT Sectra, georgia, serif;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
}

section .faq .text a {
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: none;
    color: #fff;
}

.section-2 {
    display: block;
    margin-bottom: 80px;
}

.section-2 .text {
    font-family: GT Sectra, georgia, serif;
    font-size: 16px;
    line-height: 1.667;
    font-weight: 400;
    text-transform: none;
    color: #7a8a98;
    margin-bottom: 60px;
    text-align: center;
}

.section-2 .text a {
    color: #d64305;
}

.section-2 .diagram {
    margin: 0 0 80px;
}

.section-2 .diagram .list ol {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    counter-reset: a;
}

.section-2 .diagram .list ol li {
    font-size: 12px;
    line-height: 1.625;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    text-transform: none;
    color: #435363;
    margin: 0 0 30px;
    padding: 45px 0 0;
    counter-increment: a;
    position: relative;
    text-align: center;
}

.section-2 .diagram .list ol li:before {
    background: url(../img/hex.svg) no-repeat 50% top;
    display: block;
    height: 32px;
    width: 32px;
    left: 50%;
    margin-left: -16px;
    top: 0;
    color: #ff4c00;
    padding-top: 5.25px;
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 12.5px;
    font-weight: 500;
    text-transform: none;
    position: absolute;
    content: counter(a);
    text-align: center;
}

.section-2 .diagram .list ol li strong {
    display: inline-block;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    padding-top: 3px;
    margin: 0 0 6px;
}

.section-2 .sample {
    text-align: center;
}

.section-2 .sample .sample-link {
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #435363;
    border-bottom: 1px solid #ff4c00;
    display: inline-block;
    text-decoration: none;
}

.section-2 .document {
    display: none;
}

.section-3 {
    background-color: #F09A9D;
}

.footer {
    background: #323f4a;
    margin: 0 auto;
    padding: 0 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
}

.footer .content {
    margin: 0 auto;
    max-width: 1285px;
}

.footer .content h1 {
    margin: 0 0 50px;
    padding: 0;
}

.footer .footer-logo {
    border: 0;
    margin: 0;
    background: url(../img/logo-white.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: .6;
    display: block;
    text-align: left;
    overflow: hidden;
    width: 42px;
    color: transparent;
    height: 42px;
}

.footer .nav-footer-list {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    column-count: 2;
    column-gap: 12.5px;
}

.footer .nav-footer-item {
    margin: 5px 0;
    padding: 5px 0;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-column-break-inside: avoid;
    width: 100%;
    display: block;
    vertical-align: top;
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 500;
    text-transform: none;
}

.footer .nav-footer-item a {
    color: #fff;
    display: block;
    border: 0;
    margin: 0;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
}

.footer .nav-footer-set {
    margin: 0 0 15px;
}

.footer .nav-footer-set h3 {
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 10.5px;
    line-height: 1.375;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .6px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 0 12px;
    color: hsla(0, 0%, 98%, .4);
}

.footer .nav-footer-set ul {
    margin: 0;
    padding: 0;
}

.footer .nav-footer-set ul li {
    margin: 0 0 10px;
    padding: 0;
    display: block;
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 11px;
    line-height: 1.375;
    font-weight: 500;
    text-transform: none;
}

.footer .nav-footer-set ul li a {
    color: hsla(0, 0%, 98%, .7);
    border: 0;
}

.footer .nav-footer-social ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.footer .nav-footer-social ul li {
    margin: 0 15px 0 0;
}

.footer .nav-footer-social ul li a {
    opacity: .4;
    border: 0;
    transition: opacity .4s;
    text-align: left;
    overflow: hidden;
    width: 25px;
    color: transparent;
    height: 25px;
    display: block;
}

.footer .nav-footer-social ul li .linkedin {
    background: url(../img/linkedin.svg);
}

.footer .nav-footer-social ul li .twitter {
    background: url(../img/twitter.svg);
}

.footer .nav-footer-social ul li .youtube {
    background: url(../img/youtube.svg);
}

.footer .legal {

}

.footer .legal p {
    margin-bottom: 5px;
    color: hsla(0, 0%, 98%, .4);
    font-family: Gotham SSm A, Gotham SSm B, arial, sans-serif;
    font-size: 10px;
    line-height: 1.375;
    font-weight: 500;
    letter-spacing: .8px;
    text-transform: uppercase;
}

.footer .legal p a {
    color: #fff;
    border: 0;
}

@media only screen and (min-width: 400px) {
    .intro .text {
        font-size: 18px;
    }
}

@media only screen and (min-width: 460px) {
    .footer .nav-footer-sets {
        display: flex;
        justify-content: space-between;
    }

    .footer .nav-footer-set {
        width: 48.98785%;
    }
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }

    .header-cont {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1335px;
    }

    .logo {
        display: block;
        text-align: left;
        overflow: hidden;
        width: 180px;
        color: transparent;
        height: 65px;
    }

    .btn-menu, .btn-login {
        font-size: 12px;
    }

    .section.content {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1335px;
    }

    .intro {
        margin-bottom: 100px;
    }

    section header {
        margin-bottom: 35px;
    }

    section header h2 {
        font-size: 36px;
    }

    .section-1 .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .section-1 .content .text {
        width: 65.9919%;
        margin-bottom: 0;
    }

    .section-1 .content .list {
        width: 31.98381%;
    }

    .intro .top {
        position: relative;
        padding-top: 60px;
    }

    .intro h1 {
        font-size: 40px;
    }

    .intro .text {
        padding-top: 30px;
        background: #fff;
        z-index: 20;
    }

    .intro .nav-jump {
        /*margin-bottom: 100px;*/
    }

    .intro .nav-jump h4 {
        display: inline-block;
        margin-right: 20px;
    }

    .intro .nav-jump-list {
        display: inline-block;
        margin-right: 20px;
    }

    .intro .nav-jump-item {
        display: inline-block;
        margin-right: 20px;
    }

    .section-1 .portfolio .table {
        justify-content: space-between;
    }

    .section-1 .portfolio .table .col {
        width: 49%;
    }

    section .faq:before {
        content: "";
        display: block;
        position: absolute;
        height: 35px;
        width: 35px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #fff;
        left: 50%;
        top: -17.5px;
        margin-left: -17.5px;
    }

    section .faq:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 25px;
        background: url(../img/reverse-wedge.svg) no-repeat 50% 100%;
    }

    .section-2 header {
        margin-bottom: 0;
    }

    .section-2 .diagram {
        position: relative;
    }

    .section-2 .diagram .list ol {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .section-2 .diagram .list ol li {
        text-align: left;
        padding: 0 0 0 45px;
        width: 48.98785%;
    }

    .section-2 .diagram .list ol li:before {
        left: 0;
        top: -3px;
        margin-left: 0;
    }

    .section-2 .sample .sample-link {
        font-size: 16px;
    }

    .footer {
        padding-left: 50px;
        padding-right: 50px;

    }

    .footer .content {
        max-width: 1335px;
    }

    .footer .nav-footer-links {
        display: flex;
        justify-content: space-between;
    }

    .footer .nav-footer-list {
        width: 48.98785%;
    }

    .footer .nav-footer-sets {
        width: 48.98785%;
    }
}

@media only screen and (min-width: 768px) {
    section header h2 {
        font-size: 42px;
    }

    .section-1 .content .list h3 {
        font-size: 14.5px;
    }

    .intro .top header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .intro .top header h1 {
        width: 31.98381%;
        font-size: 40px;
        position: relative;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .intro .image {
        width: 65.9919%;
        margin-bottom: 0;
    }

    .intro .image img {
        max-width: 100%;
    }

    .intro .text {
        width: 74.49393%;
        font-size: 18px;
        padding-right: 30px;
        padding-top: 30px;
        position: absolute;
        bottom: 0;
    }

    .intro .nav-jump {
        width: 74.49393%;
    }

    section .faq {
        padding: 100px 60px;
    }

    section .faq h2 {
        font-size: 35px;
    }

    section .faq .sets {
        width: 75%;
        margin: 0 auto 60px;
    }

    .mobile-nav-bar {
        display: block;
    }

    .section-2 .text {
        margin: 0 auto 70px;
        width: 65.9919%;
    }

    .section-2 .diagram .list ol {
        height: 100%;
        width: 100%;
        position: absolute;
        display: block;
    }

    .section-2 .diagram .list ol li:first-child {
        top: 0;
        left: 0;
    }

    .section-2 .diagram .list ol li:nth-child(2) {
        top: 0;
        right: 0;
    }

    .section-2 .diagram .list ol li:nth-child(3) {
        top: 150px;
        left: 0;
    }

    .section-2 .diagram .list ol li:last-child {
        top: 150px;
        right: 0;
    }

    .section-2 .diagram .list ol li {
        position: absolute !important;
        z-index: 20;
        width: 260px;
    }

    .section-2 .document {
        display: block;
        width: 20%;
        padding: 50px 0;
        margin: 0 auto;
        position: relative;
        z-index: 10;
    }
}

@media only screen and (min-width: 1025px) {
    .header .header-cont {
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo {
        display: block;
        text-align: left;
        overflow: hidden;
        width: 220px;
        color: transparent;
        height: 65px;
    }

    .mobile-nav-bar {
        display: none;
    }

    .nav-bar {
        display: flex;
        align-items: center;
    }

    .nav-bar .btn-login {
        padding: 12px 15px;
        color: #fff;
        background-color: #7f98a7;
        -webkit-transition: background-color .3s ease-out;
        transition: background-color .3s ease-out;
        margin-left: 17px;
    }

    .intro .text {
        padding-bottom: 0;
    }

}

@media only screen and (min-width: 1070px) {
    .nav-bar button {
        font-size: 12px;
    }

    .section-1 .content .text {
        width: 69.26829%;
        padding-right: 20px;
    }

    .section-1 .content .list {
        width: 28.29268%;
    }

    .intro .top header h1 {
        font-size: 58px;
    }

    .intro .text {
        font-size: 24px;
        width: 57.48988%;
        padding: 50px 50px 50px 0;
    }

    .intro .text p {
        margin-bottom: 0;
    }

    .section-1 {
        width: 82.99595%;
        margin-left: auto;
        margin-right: auto;
    }

    section header h2 {
        font-size: 48px;
    }

    .section-1 .content .list li {
        font-size: 12.5px;
    }

    .section-1 .portfolio .table {
        justify-content: center;
        flex-wrap: nowrap;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    }

    .section-1 .portfolio .table .col-header {
        display: block;
        border-right: 1px solid #eaeaea;
    }

    .section-1 .portfolio .table .col {
        width: 100%;
        margin-bottom: 0;
        box-shadow: none;
    }

    .section-1 .portfolio .table .col-header .row {
        color: #737271;
        font-weight: 700;
        font-size: 10.5px;
        letter-spacing: .5px;
    }

    .section-1 .portfolio .table .row {
        min-height: 96px;
    }

    .section-1 .portfolio .table .col .row:before {
        display: none;
    }

    section .faq .sets {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }

    section .faq .sets .faq-set {
        width: 30%;
        margin-bottom: 0;
    }

    .section-2 .diagram .list ol li {
        width: 290px;
    }

    .section-2 .diagram .list ol li strong {
        padding-right: 20px;
        background-color: #fff;
        position: relative;
        z-index: 30;
    }

    .section-2 .diagram .list ol li:first-child {
        top: 40px;
        z-index: 50;
    }

    .section-2 .diagram .list ol li:nth-child(3) {
        top: 220px;
    }

    .section-2 .diagram .list ol li:last-child {
        top: 180px;
    }

    .section-2 .diagram .list ol li:after {
        content: "";
        display: block;
        height: 1px;
        width: 380px;
        background-color: #d5d5d5;
        position: absolute;
        left: 50px;
        top: 14px;
    }

    .section-2 .diagram .list ol li:nth-child(2):after,
    .section-2 .diagram .list ol li:nth-child(4):after {
        width: 140px;
        left: -155px;
    }

    .section-2 .document {
        padding: 10px 0;
        width: 200px;
        position: relative;
        z-index: 20;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer .links {
        display: flex;
        justify-content: space-between;
        margin: 0 0 30px;
    }

    .footer .content h1 {
        width: 6.47773%;
        margin-right: 2.02429%;
    }

    .footer .nav-footer {
        width: 91.49798%;
    }

    .footer .nav-footer .nav-footer-content {
        display: flex;
        justify-content: flex-start;
    }

    .footer .nav-footer-links {
        width: 72.12389%;
        justify-content: space-between;
    }

    .footer .nav-footer-list {
        width: 48.46626%;
    }

    .footer .nav-footer-sets {
        width: 48.46626%;
    }

    .footer .nav-footer-social {
        margin-left: auto;
        width: 16.37168%;
    }

}

@media only screen and (min-width: 1200px) {
    .nav-bar button {
        padding-right: 30px;
        padding-left: 30px;
    }

    .intro .top header h1 {
        font-size: 68px;
    }

    section header h2 {
        font-size: 56px;
    }

    .section-1 .content .text,
    .section-2 .text {
        font-size: 18px;
    }

    .section-2 .diagram {
        margin-left: auto;
        margin-right: auto;
        width: 82.99595%;
    }
}

@media only screen and (min-width: 1500px) {
    body {
        font-size: 21px;
    }

    .nav-bar button {
        padding-right: 38px;
        padding-left: 38px;
    }
}

